<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
				http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
				http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/aop 
				http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
				http://www.springframework.org/schema/task 
				http://www.springframework.org/schema/task/spring-task-3.0.xsd" >

	<!-- specify packages to scan annotations -->
	<context:component-scan base-package="com.store" />
	<context:annotation-config />
	
	<!-- <bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		scope="singleton" lazy-init="false" p:placeholderPrefix="$prod:{"
		p:order="100" p:systemPropertiesModeName="SYSTEM_PROPERTIES_MODE_OVERRIDE"
		p:location="file:/var/lib/tomcat7/conf/vpn.properties">
	</bean> -->
	
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		scope="singleton" lazy-init="false" p:placeholderPrefix="$prod:{"
		p:order="100" p:systemPropertiesModeName="SYSTEM_PROPERTIES_MODE_OVERRIDE"
		p:location="file:${catalina.base}/conf/vpn.properties">
	</bean>
	
	<bean id="redisServerAddress" class="java.lang.String">
		<constructor-arg value="$prod:{redis.server.address}" />
	</bean>
	
</beans>
